.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;

  .title {
    h1 {
      color: var(--Rose-900);
      margin-bottom: 8px;
    }
    p {
      color: var(--Rose-400);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--Rose-50);
    padding: 16px;
    border-radius: 8px;

    li {
      list-style: none;
      display: flex;
      padding: 8px 0;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: var(--Rose-400);

      h2 {
        color: var(--Rose-900);
        font-size: 20px;
      }
    }
  }

  button {
    color: white;
    background-color: var(--Red);
    padding: 16px;
    border-radius: 100px;
  }
}

@media (max-width: 425px) {
  .container {
    border-radius: 8px 8px 0px 0px;
    position: relative;
    transition: all .3s;
  }
  .hidden {
    transform: translateY(100%);
  }
}
